body {
    font-family: 'Arial', sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

#sobre {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 30px;
}

#cursos .card {
    margin-bottom: 20px;
    transition: transform 0.2s;
}

#cursos .card:hover {
    transform: scale(1.05);
}

#contato {
    background-color: #e9ecef;
    border-radius: 10px;
    padding: 30px;
}

footer {
    background-color: #343a40;
    color: white;
}

.error {
    color: red;
    margin-left: 10px;
    font-size: 12px;
}


/* Estilos incluidos por mim: Rafaela*/

#map {
    height: 400px;  /* Defina a altura que preferir */
    width: 100%;    /* Largura 100% para se ajustar ao container */
}